* {
  box-sizing: border-box;
  background-color: #fadfb1;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  text-align: center;
}
nav {
  display: flex;
  width: 100%;
  height: 150px;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}
#imagen {
  display: flex;
  align-items: center;
}
#logo-tortilla {
  width: 100px;
  height: 100px;
}
#enlaces {
  display: flex;
  gap: 10px;
}
#enlaces a {
  padding: 10px;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.imagen-tortilla {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 20px auto;
  display: block;
}
